@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {font-family: 'Readex Pro';}


a {
    text-decoration: none;
    color: white !important;
    font-weight: 400;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: circle;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

div[data-testid="stExpander"] div[role="button"] p {
    font-size: 1.35em;
    font-weight: 1.25em;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}